	*{
		box-sizing: border-box;
	}
	h1, h2, h3, h4, h5, p {
		margin:0;
		padding:0;
	}
	a {
		color:#21356B;
	}
	body,html { width: 100%; height: 100%; }
	body.init {
		opacity: 0;
	}
	body {
		font-family: 'Open Sans Condensed', sans-serif;	
		margin:0;
		padding:0;
		color:#21356B;	
	}
	body.loading {
		overflow: hidden;
	}
	
	#loader {
		-webkit-transition: opacity 0.3s linear;
		transition: opacity 0.3s linear;
		opacity: 0;
	}
	.loading #loader {
		opacity: 1;
	}
	#real_loader {
		width: 48px;
		height: 48px;
	}
	.loading #real_loader {
		-webkit-animation: spin 0.5s infinite linear;
		animation: spin 0.5s infinite linear;
	}
	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg) }
		100% { -webkit-transform: rotate(360deg) }
	}
	@keyframes spin {
		0% { transform: rotate(0deg) }
		100% { transform: rotate(360deg) }
	}
	.init .down-arrow,
	.loading .down-arrow {
		opacity: 0;
	}
	.down-arrow {
		cursor: pointer;
		text-align: center;
		-webkit-animation: bouncy 4.0s ease infinite;
		-moz-animation: bouncy 4.0s ease infinite;
		animation: bouncy 4.0s ease infinite;
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
	}
	.down-arrow img {
		width: 50px !important;
	}
	@-webkit-keyframes bouncy { 50% { -webkit-transform: translateY(30px); } }
	@-moz-keyframes bouncy { 50% { -moz-transform: translateY(30px); } }
	@keyframes bouncy { 50% { transform: translateY(30px); } }
	
	.top {
		text-align: center;
		font-size: 12px;
		padding: 15vh 0;
		background: #f9f9f9;
		border-bottom: 1px solid;
	}

	#logo {
		width: 120px;
		height: 120px;
		margin-bottom:20px;
	}
	
	.rapper {
		width:100%;
		margin:0 auto;
		padding-bottom:60px;
	}

	.video {
		width:100%;
		display:table;
		height:85vh;
		background:url(http://okfocus.s3.amazonaws.com/random/sts133_crewportrait05-sm.jpg)no-repeat center;
		background-size:cover;
		vertical-align:middle;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	.init .video,
	.loading .video {
		opacity: 0;
	}
	.player {
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: rgba(0,0,0,0.9);
		z-index: 2;
		display: none;
	}
	.player .close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		opacity: 0.3;
	}
	.desktop .player .close:hover {
		opacity: 1.0;
	}
	#youtube {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.fixed {
		overflow: hidden;
		position: relative;
	}
	.fixed div.bg {
		display: block !important;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100vh !important;
		background-size: cover;
		background-position: top center;
		z-index: 0;
	}
	.firefox .fixed {
		background-attachment: fixed;
	}
	.firefox .fixed.cell {
		background-attachment: scroll;
	}
	.video div {
		display:table-cell;
		vertical-align:middle;
		height:30px;
		text-align:center;
		z-index: 1;
		width: 100%;
	}
	.video div span {
		background:white;
		display: block;
		-webkit-transition:0.3s background;
		transition:0.3s background;
		font-size: 2vw;
		font-style: italic;
		width: 100%;
	}
	.video h2 {
		display: inline;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		padding:5px 5px 0 5px;
		margin:0;
		z-index: 1;
		position: absolute;
		background: white;
	}
	.desktop .video h2:hover {
		color:white;
		background:#21356B;
		cursor:pointer;
	}
	.team {
		padding: 5%;
		display:inline-block;
		width:100%;
		border-bottom: 4px double;
		margin-bottom: 30px;
		border-top: 1px solid;
	}
	h1.hed {
		border-bottom:4px double;
		font-style:italic;
		padding-bottom:20px;
		font-size:40px;
	}
	.user {
		display: table;
		width: 100%;
	}
	.user span{
		float: left;
		width: 50%;
		display: inline-block;
		padding:5%;
		font-size: 13px;
		line-height: 21px;
	}
	.firefox .user div {
		background-attachment: fixed;
		-webkit-transform: translateZ(0);
	}
	.user div{
		display: inline-block;
		height: 50vh;
		width: 50%;
		background-size: 50%;
		background-position: top left;
		float:left;
	}
	.user .bg {
		background-size: 50%;
		background-position: top left;
	}
	.user.numen div{
		background-image: url(http://s3.amazonaws.com/okfocus/images/alone-together/numen.jpg);
	}
	.user.kayla div{
		background-image: url(http://okfocus.s3.amazonaws.com/images/alone-together/kayla.jpg);
	}
	
	.user.marcus div{
		background-image: url(http://s3.amazonaws.com/okfocus/images/alone-together/marcus.jpg);
	}
	
	.user.victora div{
		background-image: url(http://okfocus.s3.amazonaws.com/images/alone-together/victoria.jpg);
	}
	
	.user.johnny div{
		background-image: url(http://s3.amazonaws.com/okfocus/images/alone-together/johnny.jpg);
	}
	
	.user.ajsha div{
		background-image: url(http://okfocus.s3.amazonaws.com/images/alone-together/ajsha.jpg);
	}
	
	
	.user span h2{
		border-bottom:3px double;
		font-style:italic;
		padding-bottom:10px;
		font-size:20px;
		margin-bottom:15px;
	}
	
	.blurb {
		border-bottom:1px solid;
		display:inline-block;
		width:100%;
	}
	
	.blurb h1 {
		border-top: 1px solid;
		padding-top: 20px;
		padding-left:20px;
	}
	
	h4.sub {
		font-weight:100;
		width:50%;
		margin:20px;
		font-size:12px;
		line-height:20px;
		padding-left:5%;
	}

	.okgallery{
		height: 90%!important;
		width:90%!important;
		float:left;
		cursor: url(http://static.tumblr.com/fjuuplb/jvHn6re6l/next-cursor.png), auto!important;
	}
	.okgallery .cell {
		background-position:top center!important;
		background-size:cover!important;
		background-repeat:repeat;
		background-color:white;
	}
	.okgallery div {
		width: 100%;
		height: 100%;
	}
	.okgallery .caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 8px 10px;
		height: auto;
		max-width: 100%;
		font-weight: 800;
		font-size: 12px;
		line-height: 20px;
		background: rgba(255,255,255,0.8);
		z-index: 2;
		width: 100%;
		border-top: 1px solid;
		font-style: italic;
	}
	.next {
		float: left;
		width: 10%;
		height: 90%;
		background: #21356B;
		text-align: center;
		color:white;
		display: table;
	}
	.next span{
		display: table-cell;
		vertical-align: middle;
		font-size: 40px;
		font-weight: bold;
		cursor: url(http://static.tumblr.com/fjuuplb/jvHn6re6l/next-cursor.png), auto!important;
		-webkit-transition:0.3s background;
		transition:0.3s background;
	}
	.next span:hover {
		background:#FFD400;
		-webkit-user-select:none;
		
	}
	.power {
		display:inline-block;
		width:100%;
		border-bottom:1px solid;
	}
	.power img {
		max-width:100%;
	}
	.power .sub {
		padding:20px 0;
	}
	.cal{
		display:inline-block;
		width:100%;
		padding:20px 0;
		border-top: 1px solid;
	}

	.event {
		width: 25%;
		float: left;
		padding: 20px 10px;
		-webkit-transition: 0.3s background;
		transition: 0.3s background;
		height: 280px;
	}
	/*
	.desktop .event:hover {
		cursor:pointer;
		background:#f6f6f6;
	}
	*/
	.event p{
		font-weight: 100;
		font-size: 15px;
		line-height:18px;
		margin-bottom: 10px;
	}

	.event h1{
		font-weight: 600;
		font-size: 15px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.event h2{
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;	
	}
	.event h3{
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		margin-top: 9px;
	}
	.press {
		padding:5vw 0;
		text-align:center;
		font-weight:900;
		background:#21356B;
	}
	.press a {
		color:white;
		text-decoration:none;
		font-style:italic;
		font-size:5vw;
	}
	.press img {
		width:100px;
	}
	.desktop .press a:hover {
		text-decoration:underline;
	}
	.credits {
		text-align: center;
		display: inline-block;
		width: 100%;
		padding: 10%;
		border-top: 4px double;
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		background: #f4f4f4;
		border-bottom: 6px double;
	}
	.credits h1 {
		margin-bottom:20px;
		font-weight:400;
		font-size:20px;
		letter-spacing:1px;
	}
	.credits span {
		text-transform:uppercase;
		margin:0 0.5%;
		display:inline-block;
	}
	.credits span:before {
		content:"• ";
	}
	.credits span:after {
		content:" •";
	}
	.credits span a {
		text-decoration:none;
		font-weight:700;	
	}
	.credits span a:hover {
		text-decoration:underline;
	}
	.credits span b {
		font-weight:700;	
	}
	.footer {
		display:inline-block;
		width:100%;
		padding:8vw 0;
	}
	
	.footer a{
		border-bottom:1px solid;
		display:inline-block;
		width:100%;
		float:left;
		padding: 14px 1vw 10px;
		text-decoration:none;
		font-weight:900;
	}
	.desktop .footer a:hover {
		background:#21356B;
		color:white;
	}
	.footer span {
		width:100%;
		display:inline-block;
		padding: 5px;
		text-align:right;
		font-style:italic;
	}
	
	
		@media only screen and (max-device-width: 480px)  { 
			.rapper, p, .press table, .right {
				width:100%;
			}

			.top {
				padding:90px 0;
			}
			.top h4 {
				font-size: 15px;
				line-height: 18px;
			}
			
			.video div span {
				font-size: 20px;
				
			}
			div{
				background-attachment:scroll!important;
			}
			.fixed{
				background-attachment:scroll!important;
			}

			.blurb h1 {
				padding-left:2px;
			}

			.team {
				display:none;
			}
			.event {
			width: 50%;
			padding: 20px 10px;
			}
			.event h2 {
			font-size: 12px;
			line-height: 18px;
			}
			.event h1 {
			font-size: 16px;
			margin-bottom: 8px;
		}
			.power img {
			margin-top: 20px;
			}
			h4.sub {
			margin: 0;
			padding: 18px!important;
			width:100%;
		}
		.credits span {
		margin: 8px 0.5%;
	}
		.next {
			display:none;
		}
		.caption { width: 100% }
		.okgallery {
		width: 100%!important;
		height: 40%!important;
	}
	.footer span, .footer {
		text-align:center;
	}
		}
